<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Suite" parallel = "tests" thread-count="2"><!-- 第一个测试名字，tests表示不同的线程运行本文件中test标签定义的测试类（支持多线程）。线程数 -->
	<parameter name = "userName" value="18859218264" />
	<parameter name= "passWord" value="5509945cyp"></parameter>
   <test name="FirefoxTest">
   	<parameter name="browser" value="fireFox"></parameter>
	<!--  <listeners>
		<listener class-name="com.erin.selenium.util.RetryListener" />
		<listener class-name="com.erin.selenium.util.TestNGListenerScreen" />
	</listeners>
	-->
	<classes>
	<!--	<class name = "com.erin.selenium.testCase.login" />  运行的类 -->
		<class name = "com.erin.selenium.testCase.SuiteTestBuy" /> 
	</classes>
   </test><!-- 多线程 -->
 <!--    <test name="Test2">
	 <listeners>
		<listener class-name="com.erin.selenium.util.RetryListener" />
		<listener class-name="com.erin.selenium.util.TestNGListenerScreen" />
	</listeners>
	
	<classes>
		<class name = "com.erin.selenium.testCase.testCourseList" /> 
	</classes>
   </test>
-->

<test name="ChromeTest">
   	<parameter name="browser" value="chrome"></parameter>
   	<classes>


	</classes>
   	</test>
   	<test name="IETest">
   	<parameter name="browser" value="chrome"></parameter>
   	<classes>
		<class name = "com.erin.selenium.testCase.login" />  <!--运行的类 -->
	</classes>
   	</test>
</suite>